In [46]:
import pandas as pd

In [47]:
thecsv= "D:/titanic.csv" # لما عملتها ب \ طلعت  escape character محتاج اراجع شويه
df= pd.read_csv(thecsv)

In [48]:
df= df.dropna(subset=["age"])

In [49]:
averagebyclass= df.groupby ("pclass")["fare"].mean()

In [50]:
print ("average fare paid by passengers in each passenger class:  ")
print(averagebyclass)

average fare paid by passengers in each passenger class:
pclass
1    87.961582
2    21.471556
3    13.229435
Name: fare, dtype: float64

In [51]:
survivalRateGender= df.groupby("sex")["survived"].mean()

In [52]:
print("survival rate by gender: ")
print(survivalRateGender)

survival rate by gender:
sex
female    0.754789
male      0.205298
Name: survived, dtype: float64

In [ ]:
def categorize_age(age):
    if age  < 18:
        return "child"
    elif 18 <= age < 60:
        return "adult"
    else:
        return "senior"

In [54]:
df["age_group"] = df["age"].apply(categorize_age)

In [55]:
df.to_csv("cleaned__titanic.csv", index=False)
print("Cleaned dataset saved to \n 'cleaned__titanic.csv'")

Cleaned dataset saved to
 'cleaned__titanic.csv'