In [4]:
import requests

import pandas as pd
from bs4 import BeautifulSoup

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

In [6]:
responsebody = requests.get(url)
soup = BeautifulSoup(responsebody.content, "html.parser")

In [ ]:
table = soup.find("table" , {"class":"wikitable"})
df = pd.read_html(str(table))[0]
#IMF estimates بنستخرج

In [8]:
df['Country/Territory'] = df['Country/Territory'].astype(str).replace(r'\[.*\]', '  ', regex=True)
 # بصراحة دورت شويه في السطر دا

In [9]:
 # تأكيد بس
print(df.columns)
df.head()

MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (        'IMF[1][12]',          'Forecast'),
            (        'IMF[1][12]',              'Year'),
            (    'World Bank[13]',          'Estimate'),
            (    'World Bank[13]',              'Year'),
            ('United Nations[14]',          'Estimate'),
            ('United Nations[14]',              'Year')],
           )

  Country/Territory IMF[1][12]            World Bank[13]             \
  Country/Territory   Forecast       Year       Estimate       Year
0             World  113795678       2025      105435540       2023
1     United States   30507217       2025       27360935       2023
2             China   19231705  [n 1]2025       17794782  [n 3]2023
3           Germany    4744804       2025        4456081       2023
4             India    4187017       2025        3549919       2023

  United Nations[14]
            Estimate       Year
0          100834796       2022
1           25744100       2022
2           17963170  [n 1]2022
3            4076923       2022
4            3465541       2022

In [10]:
df.to_csv("gdpdata.csv", index=False)
print(" saved to 'gdpdata.csv'")

 saved to 'gdpdata.csv'